.all-books-container {
  background: #fff;
  border: 0.5px solid #272a31;
  border-radius: 12px;
  margin: 24px;
}

.book-container {
  margin-top: 64px;
  width: 100%;
}

.book-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px;
  padding: 8px 12px;
}

.book-item-container:nth-child(odd) {
  background-color: #f7f7f9;
}

.deleteBtn {
  background-color: rgb(187, 34, 34);
  border: 1px solid #852905;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-transform: capitalize;
  padding: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}

.deleteBtn:hover {
  background: rgb(6, 77, 99);
  border: 1px solid #055f6b;
}

@media (min-width: 768px) {
  .book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .all-books-container {
    width: 50%;
  }
}

